body {
    background-image: url("sources/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 400px;
    margin: auto;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif
}

#redtext {
    color: red;
}

#orangetext {
    color: orange;
}

#greentext {
    color: green;
}

#whitetext {
    color: white;
}

label{
    display:block;
    background:#eee;
    padding:10px;
    border:1px solid #ccc;
    margin:10px;
}
label:hover{
    background:#e2e2e2;
    cursor: pointer;
}
.green{
    background:#7f7;
    border:1px solid #0c0;
}
.green:hover{
    background:#4f4;
}
.red{
    background:#f77;
    border:1px solid #c00;
}
.red:hover{
    background:#f44;
}